---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import logo_full from "../assets/images/quality-magazine-logo.png";
import MagazineForm from "../components/MagazineForm.vue";
import Footer from "../components/Footer.astro";
---

<Layout>
    <main class="max-w-3xl mx-auto px-4 py-12">
        <h1>Datenschutzerklärung</h1>
        <p>
            <strong
                >1. Erhebung und Verarbeitung von http-Protokolldaten</strong>
        </p>
        <p>
            Bei Besuch unserer Website und bei jedem Abruf einer Datei sammelt
            unser Webserver über diese Vorgänge Protokollinformationen (z.B.
            Browsertyp, Datum und Uhrzeit des Abrufs). Dies sind keine
            personenbezogenen Daten. Es ist uns also nicht möglich, die
            erfassten Daten einer bestimmten natürlichen Person zuzuordnen.
        </p>
        <p>
            Sämtliche dieser Angaben werden von uns ausschließlich zu
            statistischen Zwecken ausgewertet. Eine Weitergabe an Dritte erfolgt
            nicht. Eine Verknüpfung dieser Daten mit anderen Daten erfolgt durch
            uns nicht. Die Daten werden zudem nach einer statistischen
            Auswertung regelmäßig innerhalb von einer Woche gelöscht.
        </p>
        <p><strong>2. Verwendung personenbezogener Daten</strong></p>
        <p>
            Personenbezogene Daten werden von uns nur dann und nur in dem Umfang
            erhoben, wie Sie sie uns mit Ihrer Kenntnis selbst zur Verfügung
            stellen. Insbesondere erfolgt eine Nutzung dieser personenbezogenen
            Daten für Zwecke der Werbung/Marktforschung sowie zur Gestaltung
            unserer Dienste nur, wenn Sie uns ausdrücklich hierzu Ihre
            Einwilligung erteilt haben.
        </p>
        <p>
            Sie haben jederzeit ein Widerrufsrecht hinsichtlich einer erteilten
            Einwilligung.
        </p>
        <p>
            Eine Angabe der Verarbeitungszwecke erfolgt an den entsprechenden
            Stellen unserer Websites und unterliegt keiner nachträglichen
            Änderung. Eine Weitergabe der Daten an Dritte erfolgt ohne Ihre
            Einwilligung nur dann, wenn wir hierzu gesetzlich verpflichtet sind.
        </p>
        <p><strong>3. Newsletter</strong></p>
        <p>
            Wenn Sie unseren Newsletter bestellen wollen, benötigen wir neben
            Ihrer E-Mail-Adresse die Bestätigung, dass Sie der Inhaber der
            angegebenen Email-Adresse sind und mit dem Empfang des Newsletters
            einverstanden sind. Diese Daten werden nur zu dem Zweck erhoben,
            Ihnen den Newsletter zuschicken zu können und unsere diesbezügliche
            Berechtigung zu dokumentieren. Eine Weitergabe der Daten an Dritte
            erfolgt nicht. Die Bestellung des Newsletters und Ihre Einwilligung
            zur Speicherung der E-Mail-Adresse können Sie jederzeit widerrufen.
        </p>
        <p><strong>4. Verwendung von Cookies</strong></p>
        <p>
            Cookies sind Datensätze, die vom Webserver an den Webbrowser des
            Nutzers gesandt und dort für einen späteren Abruf gespeichert
            werden. Ob Cookies gesammelt werden können, bestimmen Sie selbst,
            indem Sie Ihren Browser in der Weise einstellen, dass Sie vor dem
            Speichern eines Cookies informiert werden und eine Speicherung erst
            erfolgt, wenn Sie dies ausdrücklich akzeptieren.
        </p>
        <p>
            Wir verwenden Cookies nur zu dem Zweck, Informationen über die
            Nutzung unseres Webangebotes zu erhalten sowie zu statistischen
            Zwecken.
        </p>
        <p>Unsere Cookies enthalten folgende Datensätze:</p>
        <p>
            Die Datensätze enthalten keine personenbezogenen Informationen. Eine
            Zusammenführung mit etwaigen von Ihnen zur Verfügung gestellten
            personenbezogenen Daten erfolgt nicht.
        </p>
        <p><strong>5. Auskunftsrecht</strong></p>
        <p>
            Sie haben das Recht, jederzeit Auskunft über die zu Ihrer Person
            gespeicherten Daten zu erhalten, einschließlich Herkunft und
            Empfänger Ihrer Daten sowie den Zweck der Datenverarbeitung. Ihre
            Anfrage richten Sie bitte schriftlich oder per E-Mail an unsere
            unten genannten Adressen.
        </p>
        <p>
            Diese Datenschutzerklärung gilt nur für Inhalte auf unseren Servern
            und umfasst nicht die auf unserer Seite verlinkten Webseiten.
        </p>
        <p><strong>6. Über uns</strong></p>
        <p>
            Dies ist die Datenschutzerklärung der Firma:<br /><br />

            Global Q Media AG<br />
            Tiefenackerstraße 49<br />
            CH-9450 Altstätten<br /><br />

            CH-UID-Number: CH-470.223.530<br />
            Handelsregistergericht Zürich<br />
            Handelsregisternummer/CH ID:<br />
            CH02030423817<br />
            EHRA-ID: 1234936

            <br /><br />Sollten Sie Fragen zu dieser Datenschutzerklärung haben,
            wenden Sie sich gerne direkt per Post oder E-Mail an uns (oder ggf.
            an unseren Datenschutzbeauftragten, soweit vorhanden).
        </p>
    </main>
    <Footer />
</Layout>
