---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import UserTable from "../components/UserTable.vue";
---

<Layout>
	<div class="container mx-auto">
		<UserTable client:load />
	</div>
</Layout>
