---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import UserTable from "../components/UserTable.vue";
//import videoSrc from "../assets/video_bg.mp4";
import qlogo from "../assets/q_logo.png";
import buttonimg from "../assets/button_neu.png";
import Hero from "../components/Hero.astro";
import logo_full from "../assets/images/quality-magazine-logo.png";
import thumbnail from "../assets/images/thumbnail-switch.jpg";
import MagazineForm from "../components/MagazineForm.vue";
---

<Layout>
	<Hero />
	<section class="py-16 px-4 bg-white">
		<div class="max-w-4xl mx-auto">
			<!-- Überschrift -->
			<div class="text-center mb-12">
				<img
					src={logo_full.src}
					alt="Quality Magazine"
					class="mx-auto mb-8 w-64"
				/>
				<h1 class="text-2xl font-medium mb-2">
					Deine Quality-Magazine print Ausgabe erhalten
				</h1>
			</div>

			<!-- Optionen Grid -->
			<MagazineForm client:load />
		</div>
	</section>

	<footer></footer>
</Layout>
