---
import "../assets/styles.css";
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<title>Quality Magazine Covercard</title>
		<!-- <script
			id="Cookiebot"
			src="https://consent.cookiebot.com/uc.js"
			data-cbid="11661669-8bb1-4c41-b95e-e92a8ad66b79"
			data-blockingmode="auto"
			type="text/javascript"></script> -->
	</head>
	<body>
		<slot />
	</body>
</html>
